.fooddetails-container{
    display: flex;
}

.left-container{
    display: flex;
    
}
.left-container>img{
    height:25rem;
    width:38rem;
    border-radius: 30px;
    margin: 20px;
    margin-left: 50px;
}
.right-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 50px;
    gap: 10px;
}
.right-container>h2{
    text-decoration: underline;
}
